@import "tailwindcss";
@import "@heroui/styles"; 

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(66.78% 0.2232 36.66);
  /* --accent-foreground: oklch(15% 0.0300 36.66); */
  --accent-foreground: oklch(99.474% 0.00439 77.978);
  --background: oklch(97.02% 0.0000 36.66);
  --border: oklch(90.00% 0.0000 36.66);
  --danger: oklch(65.32% 0.2328 359.68);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0000 36.66);
  --default-foreground: oklch(21.03% 0.0059 36.66);
  --field-background: oklch(100.00% 0.0000 36.66);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0000 36.66);
  --field-placeholder: oklch(55.17% 0.0000 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(21.03% 0.0000 36.66);
  --muted: oklch(55.17% 0.0000 36.66);
  --overlay: oklch(100.00% 0.0000 36.66);
  --overlay-foreground: oklch(21.03% 0.0000 36.66);
  --scrollbar: oklch(87.10% 0.0000 36.66);
  --segment: oklch(100.00% 0.0000 36.66);
  --segment-foreground: oklch(21.03% 0.0000 36.66);
  --separator: oklch(92.00% 0.0000 36.66);
  --success: oklch(73.29% 0.1935 124.75);
  --success-foreground: oklch(21.03% 0.0059 124.75);
  --surface: oklch(100.00% 0.0000 36.66);
  --surface-foreground: oklch(21.03% 0.0000 36.66);
  --surface-secondary: oklch(95.24% 0.0000 36.66);
  --surface-secondary-foreground: oklch(21.03% 0.0000 36.66);
  --surface-tertiary: oklch(93.73% 0.0000 36.66);
  --surface-tertiary-foreground: oklch(21.03% 0.0000 36.66);
  --warning: oklch(78.19% 0.1585 46.27);
  --warning-foreground: oklch(21.03% 0.0059 46.27);
  --radius: 0.125rem;
  --field-radius: 0.125rem;
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(66.78% 0.2232 36.66);
  /* --accent-foreground: oklch(15% 0.0300 36.66); */
  --accent-foreground: oklch(99.474% 0.00439 77.978);
  --background: oklch(12.00% 0.0000 36.66);
  --border: oklch(28.00% 0.0000 36.66);
  --danger: oklch(59.40% 0.1967 358.57);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0000 36.66);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0000 36.66);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0000 36.66);
  --field-placeholder: oklch(70.50% 0.0000 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(99.11% 0.0000 36.66);
  --muted: oklch(70.50% 0.0000 36.66);
  --overlay: oklch(21.03% 0.0000 36.66);
  --overlay-foreground: oklch(99.11% 0.0000 36.66);
  --scrollbar: oklch(70.50% 0.0000 36.66);
  --segment: oklch(39.64% 0.0000 36.66);
  --segment-foreground: oklch(99.11% 0.0000 36.66);
  --separator: oklch(25.00% 0.0000 36.66);
  --success: oklch(73.29% 0.1935 124.75);
  --success-foreground: oklch(21.03% 0.0059 124.75);
  --surface: oklch(21.03% 0.0000 36.66);
  --surface-foreground: oklch(99.11% 0.0000 36.66);
  --surface-secondary: oklch(25.70% 0.0000 36.66);
  --surface-secondary-foreground: oklch(99.11% 0.0000 36.66);
  --surface-tertiary: oklch(27.21% 0.0000 36.66);
  --surface-tertiary-foreground: oklch(99.11% 0.0000 36.66);
  --warning: oklch(82.03% 0.1388 50.28);
  --warning-foreground: oklch(21.03% 0.0059 50.28);
}

html, body {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 300;
}

.logo {
  font-family: var(--font-caveat), cursive;
}

.mono {
  font-family: var(--font-vt323), monospace;
  font-weight: 400;
}

.transitioning {
  transition: all 0.5s ease-in-out;
}

@theme {
  --color-main: #ff4d06;
  --color-main-light: #ffe4be;
  --color-main-dark: #ca3d06;
  --color-support: #15c315;
  --color-light: #fffdfa;
  --color-test: #fffdfa;
  --color-night: #000;
  --color-dark: #111;
  --color-grey-1: #333;
  --color-grey-2: #999;
  --color-grey-3: #ccc;
  --color-grey-4: #eee;
  --color-grey-5: #f6f6f6;
}
