@import "tailwindcss";
@import "@heroui/styles"; 

html, body {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 300;
}

.logo {
  font-family: var(--font-caveat), cursive;
}

.mono {
  font-family: var(--font-vt323), monospace;
  font-weight: 400;
}

.transitioning {
  transition: var(--transitioning);
}

@theme {
  --color-main: #ff9809;
  --color-main-light: #fac67e;
  --color-main-dark: #d5810a;
  --color-support: #15c315;
  --color-light: #fffdfa;
  --color-night: #000;
  --color-dark: #111;
  --color-grey-1: #333;
  --color-grey-2: #999;
  --color-grey-3: #ccc;
  --color-grey-4: #eee;
  --color-grey-5: #f6f6f6;
}
